@model IEnumerable<InspectSystem.Models.InspectPrecautions>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="classContent">
        @Html.Action("ClassContentOfArea", new { areaID = ViewBag.AreaID })
    </div>
</div>

<!--Modal for precautions of area.-->
<hr />
<div class="container">
    @Html.Action("AreaPrecautions", new { areaID = ViewBag.AreaID })
</div>