@model IEnumerable<InspectSystem.Models.InspectPrecautions>
@{
    ViewBag.Title = "Index";
}

<style>
.modal-header, .modal-footer {
        background-color: darksalmon;
}
.modal-title {
    text-align: center;
    font-weight: bold;
}
</style>

<div class="container">
    <div id="classContent">
        @Html.Action("ClassContentOfArea", new { areaID = ViewBag.AreaID })
    </div>
</div>

<!--Modal for precautions of area.-->
<hr />
<div class="container">
    <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#precautionModal">注意事項</button>

    <!-- Modal -->
  <div class="modal fade" id="precautionModal">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h2 class="modal-title">注意事項</h2>
              </div>
              <div class="modal-body">
                  @Html.Action("AreaPrecautions", new { areaID = ViewBag.AreaID })
              </div>
              <div class="modal-footer">
                  <div style="text-align:center">
                      <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>