@model InspectSystem.Models.InspectDocDetailsViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    var currentItemName = "0";
    <div class="form-horizontal">
        @foreach (var item in Model.InspectItems)
        {
            <!--Check the ItemStatus to decide to display or not.-->
            if(item.ItemStatus == true)
            {
                <!--Display the ItemName when ItemName is not the same.-->
                if (item.ItemName != currentItemName)
                {
                    @Html.DisplayFor(modelItem => item.ItemName);

                    foreach(var itemf in Model.InspectFields)
                    {
                        <!--Check the FieldStatus to decide to display or not.-->
                        if(itemf.FieldStatus == true)
                        {
                            <!--Display all the FieldName belong the current Item-->
                            if (item.ItemID == itemf.ItemID)
                            {
                                @Html.DisplayFor(modelItem => itemf.FieldName);
                                <input type="text" />
                                @Html.DisplayFor(modelItem => itemf.UnitOfData);
                            }
                        }
                    }
                    <br />
                }
                else
                {
                    currentItemName = item.ItemName;
                }
            }
        }
    </div>
}


