@model IEnumerable<InspectSystem.Models.InspectDocs>

@{
    ViewBag.Title = "角色選擇";
}

<h2>角色選擇</h2>
<a class="btn btn-primary" href="@Url.Action("DocListForChecker", new { UserID = 654321 })">主管</a>
<a class="btn btn-primary" href="@Url.Action("DocListForWorker", new { UserID = 123456 })">工程師</a>
