@Scripts.Render("~/bundles//jquery")
@{
    ViewBag.Title = "Home Page";
}
<hr />
測試頁面
<hr />

<script>
    $(document).ready(function () {

        $(":input").change(function () {
            alert("The text has been changed.");
        });
    });
</script>

<div class="row">
    <div class="col-md-3">
        <label>測試文字</label>
    </div>
    <div class="col-md-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="..." />
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" style="width: 262px;">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div><!-- /.col-md-6 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-3">
        <label>測試文字</label>
    </div>
    <div class="col-md-6">
        <select class="selectpicker" data-live-search="true">
            <option value="1">Hot Dog, Fries and a Soda</option>
            <option value="2">Burger, Shake and a Smile</option>
            <option value="3">Sugar, Spice and all things nice</option>
        </select>
    </div><!-- /.col-md-6 -->
</div><!-- /.row -->

<input type="text" value="Text" />


