@Scripts.Render("~/bundles//jquery")

@{
    ViewBag.Title = "Home Page";
}

<hr />

<div class="row">
    <div class="col-md-3">
        <label>測試文字</label>
    </div>
    <div class="col-md-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="..." />
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" style="width: 262px;">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div><!-- /.col-md-6 -->
</div><!-- /.row -->

 <div class="col-md-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="..." />
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" style="width: 256px;">
                    @{ 
                        for (int i = 0; i <= 5; i++)
                        {
                            string name = "第" + i + "行123123123";
                            <li value ="@i">@name</li>
                        }
                    }
                </ul>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
</div><!-- /.col-md-6 -->

