@Scripts.Render("~/bundles//jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("Contact", new AjaxOptions { UpdateTargetId = "test1" }))
{
    @Html.Label("ForTest")
    @Html.Editor("name")
    <input type="submit" value="Save" />
}
<p>TestTest</p>
<div id="test1"></div>